.public-DraftStyleDefault-block{
  /*box-sizing: border-box;
  border: 1px solid #ddd;*/
  cursor: text;
  /*padding: 16px;*/
  /*border-radius: 2px;*/
  margin-bottom: 2em;
  /*box-shadow: inset 0px 1px 8px -3px #ABABAB;*/
  background: #fefefe;
}

.root {
  font-family: '\'Georgia\', serif';
  font-size: 14;
  padding: 20;
  width: 600;
}

.right-align{
  text-align: right;
}

.center-align{
  text-align: center;
}

.editor {
  /*border-top: 1px solid #ddd;*/
  cursor: 'text';
  font-size: 16;
  margin-top: 20;
  min-height: 400;
  padding-top: 20;
}

.controls {
  font-family: '\'Helvetica\', sans-serif';
  font-size: 14;
  margin-bottom: 10;
  user-select: none;
}

.styleButton {
  color: #999;
  cursor: 'pointer';
  margin-right: 16;
  padding: 3px;
}
